body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  min-height: 100px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  min-height: 100px;
  background-color: aquamarine;
}
main {
  flex-grow: 1;
  flex-shrink: 0;
}
main p {
  margin-top: 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap:20px;
}
button {
  min-width: 250px;
  max-width: max-content;
}
